*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    padding: 2rem;
}